*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	height:100vh;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	/*background: linear-gradient(rgb(47,150,163),rgb(48,62,143));*/
	/*background: linear-gradient(#616161,#9bc5c3);*/
	background: linear-gradient(#283048,#859398);
	
	color:#EEEEEE;

}

header {
		
		height: 5.25em;
		position: absolute;
		text-align: center;
		top: 2em;
		width: 100%;
		z-index: 10001;
		display: inline;
		align-items: center;

	}
header input[type="text"]{
	height: 3.75em;
	width:60%;
	display: inline-block;
	-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 25px;
		border: solid 4px #283048;;
		color:#283048; 
		font-size: 1em;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		background: #EEEEEE;
		text-transform: capitalize;
}
header input[type="text"]:active, input[type="text"]:focus{
	border: solid 4px #333333;
}
::-moz-placeholder {
		opacity: 1.0;
		color: rgba(34, 49, 63, 0.25);
	}

	:-ms-input-placeholder {
		opacity: 1.0;
		color: rgba(34, 49, 63, 0.25);
	}




.location,.temperature{
	height: 30vh;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.temperature{
	flex-direction: column;
	color:#F2F2F2;

}

.degree-section{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.degree-section span{
	margin:10px;
	font-size: 1.2em;
}
.degree-section h2{
	font-size: 2em;
}
.temperature-help{
	margin: 8%;
	margin-top: 20%;
	font-size: .8em;
	color:#283048;
	
}
.hide{
	visibility: visible;
}
body{
	font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 300;
	
}
@media screen and (max-width: 480px) {

			.hide{
				visibility: hidden;
			}
			.icon-place{
				margin: 10% ;
			}
			body {
				font-size: 12pt;
			}

		}



	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		
		
	}

		

	h1 {
		font-size: 2em;
	}

		@media screen and (max-width: 480px) {

			h1 {
				font-size: 1.5em;
			}

		}

	h2 {
		font-size: 1.75em;
	}

		@media screen and (max-width: 480px) {

			h2 {
				font-size: 1.4em;
			}

		}
	
.copyright {
			color: #bfbfbf;
			font-size: 0.8em;
			
			text-align: center;
		}

		


